@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto-Medium.ttf');
}

.borderSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10rem;
    min-height: 100dvh;
    font-family: 'Roboto';
    margin: 10rem 0;
}

.rainbowExample, .serpentExample, .threeDExample, .glassmorphismExample, .glassmorphismHeartExample {
    width: 20rem;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    line-height: 1.5rem;
    position: relative;
    border-radius: 10px;
    position: relative;
}

.rainbowExample, .serpentExample, .threeDExample, .glassmorphismHeartExample {
    background-color: black;
}

.threeDExample {
    background-color: white;
}

.glassmorphismExample {
    background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/* Similar Borderstyling for first and second Example */

.rainbowExample::after, .rainbowExample::before, .serpentExample::after, .serpentExample::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 6px;
    filter: blur(2px);
}

/* Border for rainbow Example (first Example)*/

.rainbowExample::after, .rainbowExample::before {
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
}

/* Border for second Example */

.serpentExample::after, .serpentExample::before {
    background-image: conic-gradient(from var(--angle), transparent 70%, #ff4545);
}

.rainbowExample::after, .rainbowExample::before {
    animation: spin 3s infinite linear;
}

.serpentExample:hover::after, .serpentExample:hover::before {
    animation: spin 5s infinite linear;
}

.rainbowExample::before, .serpentExample::before {
    filter: blur(1.5rem);
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.innerPartOfThreeDFront {
    all: unset;
    color: black;
    padding: 1rem;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.innerPartOfThreeDFront:active {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.innerPartOfThreeDBack {
    all: unset;
    color: black;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgb(121, 132, 146) 3px 3px 6px 1px inset, rgba(194, 188, 188, 0.5) -3px -3px 8px 1px inset;
}

.innerPartOfGlassmorphism {
  background-color: rgba(234, 239, 242, 0.121);
  color: rgb(30, 29, 29);
  padding: 1rem;
  border-radius: 10px;
  backdrop-filter: blur(3px);
}

.confetti {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.confetti:first-child {
    top: 10%;
    left: 7%;
    background-color: rgb(19, 113, 19);
}

.confetti:nth-child(2) {
    top: 70%;
    left: 16%;
    background-color: rgb(223, 4, 4);
}

.confetti:nth-child(3) {
    top: 55%;
    left: 42%;
    background-color: rgb(8, 4, 223);
}

.confetti:nth-child(4) {
    top: 26%;
    left: 70%;
    background-color: rgb(226, 211, 7);
}
.confetti:nth-child(5) {
    top: 34%;
    left: 30%;
    background-color: rgb(223, 4, 4);
}
.confetti:nth-child(6) {
    top: 70%;
    left: 88%;
    background-color: rgb(19, 113, 19);
}
.confetti:nth-child(7) {
    top: 89%;
    left: 47%;
    background-color: rgb(226, 211, 7);
}
.confetti:nth-child(8) {
    top: 6%;
    left: 67%;
    background-color: rgb(8, 4, 223);
}
.confetti:nth-child(9) {
    top: 50%;
    left: 70%;
    background-color: rgb(223, 4, 4);
}

.heart {
    position: absolute;
    width: 100px;
    border-radius: 25px;
    --c: red;
    aspect-ratio: 1;
    background:
     radial-gradient(at 70% 31%,var(--c) 29%,#0000 30%),
     radial-gradient(at 30% 31%,var(--c) 29%,#0000 30%),
     linear-gradient(var(--c) 0 0) bottom/100% 50% no-repeat;
    clip-path: polygon(-43% 0,50% 91%, 143% 0);
}